@use "@/styles/variables/variables" as variable;
@use "@/styles/mixins/mixins" as mixin;

.product {
  margin: variable.$size__spacing-unit 0 0;

  @include mixin.media(tablet) {
    margin: (variable.$size__spacing-unit * 3) 0 0;
  }

  &__entry {
    &__container {
      height: 100%;
      background: #fff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

      @include mixin.media(tablet) {
        display: flex;
        justify-content: center;
      }

      &__primary {
        @include mixin.media(tablet) {
          flex-basis: 50%;
          max-width: 400px;
        }
      }
      &__secondary {
        border-top: solid 1px #f1f1f1;

        @include mixin.media(tablet) {
          flex: 1;
          border: none;
          border-left: solid 1px #f1f1f1;
        }
      }

      @include mixin.media(desktop) {
        justify-content: flex-start;
      }
    }
  }

  &__primary {
    position: sticky;
    padding: (variable.$size__spacing-unit * 2);

    &__header {
      &__title {
        margin: (variable.$size__spacing-unit * 0.5) 0;

        //@include mixin.clear-link();
        &__link {
          position: relative;
          display: inline-block;

          svg {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 100%;
            color: inherit;
            opacity: 0.6;
            vertical-align: middle;
            font-size: 1.5rem;
            transform: translate(0, -50%) rotate(60deg);
            @include mixin.link-transition(opacity);

            @include mixin.media(tablet) {
              opacity: 0;
            }
          }

          &:hover,
          &:focus {
            svg {
              opacity: 0.6;
            }
          }
        }
      }

      &__date {
        margin: (variable.$size__spacing-unit * 0.5) 0;
        font-family: variable.$font__code;
        font-size: variable.$font__size-sm;
        font-weight: 400;
        color: variable.$color__text-light;

        &__preview {
          display: block;

          a {
            display: inline-block;
            margin-left: 0.325em;
          }
        }
      }
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      margin: (variable.$size__spacing-unit * 0.5) 0 (variable.$size__spacing-unit * 2);

      &__return {
        margin: 0 1em 0 0;
        font-size: variable.$font__size-sm;
      }
      &__category {
        margin: 0 1em 0 0;
        padding: 2px 0 0;
        font-size: variable.$font__size-md;
        font-family: variable.$font__heading;
      }
    }

    &__tags {
      font-size: variable.$font__size-sm;

      &__tag {
        display: inline-block;
        margin: 0 (variable.$size__spacing-unit * 0.5) 0 0;

        a::before {
          display: inline-block;
          content: "#";
          margin-right: 0.02em;
        }
      }
    }

    &__content {
      margin: (variable.$size__spacing-unit * 2) 0 variable.$size__spacing-unit;

      @include mixin.media(tablet) {
        font-size: variable.$font__size-sm;
      }
    }

    &__navi {
      margin: (variable.$size__spacing-unit * 2) 0;

      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        &__item {
          margin: 0;
          padding: 0;
        }
      }
    }

    &__attachments {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: (variable.$size__spacing-unit * 2) 0 0;
      padding: 0;

      @include mixin.media(tablet) {
        margin: (variable.$size__spacing-unit * 2) 0 variable.$size__spacing-unit;
      }

      &__attachment {
        box-sizing: border-box;
        flex-basis: calc(33.33% - #{variable.$size__spacing-unit * 0.5});
        height: 100px;
        margin: 0 (variable.$size__spacing-unit * 0.5) (variable.$size__spacing-unit * 0.25) 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        border: solid 2px #fafafa;
        border-radius: 3px;
        overflow: hidden;

        @include mixin.media(tablet) {
          height: 80px;
        }

        &__link {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;

          &::after {
            box-sizing: border-box;
            position: absolute;
            display: block;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            background: variable.$color__link;
            opacity: 0;
            box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2) inset;
            @include mixin.link-transition(opacity);
          }

          &:hover::after {
            opacity: 0.6;
          }
        }
      }
    }
  }

  &__secondary {
    padding: (variable.$size__spacing-unit * 2);

    @include mixin.media(tablet) {
      height: 100%;
    }

    &__feature {
      box-sizing: border-box;
      position: relative;
      max-height: 700px;
      padding: 5px;
      overflow: hidden;
      background: #fafafa;

      @include mixin.media(tablet) {
        max-height: 100%;
      }

      img {
        border: solid 1px #eceff1;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%);

        @include mixin.media(tablet) {
          display: none;
        }
      }
    }
  }
}
