@use "@/styles/variables/variables" as variable;
@use "@/styles/mixins/mixins" as mixin;

.site {
  position: relative;
  z-index: 1;
  min-height: var(--maxvh, 100vh);
  height: 100%;
  width: 100%;
  background-color: variable.$color__background-body;

  :global(.root-drawer--visible) &,
  :global(.root-drawer--visible--end) & {
    overflow-x: hidden;
  }

  &__sidebar {
    display: none;
    overflow: scroll;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    min-height: var(--maxvh, 100vh);
    height: 100%;
    width: 100%;
    background: variable.$color__background-body;
    color: #fff;
    border-right: solid 1px #000;

    @include mixin.media(mobile) {
      width: variable.$sidebar_width;
    }

    :global(.root-drawer--visible) & {
      display: block;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    background: {
      //image: url("@/assets/images/background/bg@2x.jpg");
      //size: (400px * 0.5);
      color: #f5f5f5;
    }
    // メニューの開閉速度.
    transition: transform 180ms ease-out 20ms;

    .page-home & {
      background: #000;
    }

    :global(.root-drawer--visible) & {
      overflow: hidden;
      transform: translate(100%, 0);

      @include mixin.media(mobile) {
        transform: translate(variable.$sidebar_width, 0);
      }
    }

    // ブラーエフェクト
    &__in {
      position: relative;
      background: inherit;
      width: 100%;
      height: 100%;
      min-height: var(--maxvh, 100vh);
      transition: filter 200ms ease-out, -webkit-filter 200ms ease-out;

      :global(.root-drawer--visible) & {
        pointer-events: none;
        filter: blur(5px);
        transform: translate(0);
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        transition: opacity 200ms ease-out;

        .page-home & {
          background: rgba(0, 0, 0, 0.5);
        }

        :global(.root-drawer--visible) & {
          opacity: 1;
          z-index: 10;
        }
      }
    }
  }
}
