/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {

  // Home
  &--sidebar {
    padding: ($size__spacing-unit * 3) 0;
  }

  // Other page
  &--content {
    padding: ($size__spacing-unit * 5) 0;
  }

  &__powered {
    margin: 0 auto;
    text-align: center;
    font-family: $font__heading;

    &__title {
      display: inline-block;
      position: relative;
      text-align: center;
      font-size: $font__size-md;
      margin: 0 0 ($size__spacing-unit * 2);

      &::before,
      &::after {
        display: inline-block;
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        margin: 0 0.5em;
        top: 50%;
        background: currentColor;
      }
      &::before {
        right: 100%;
      }
      &::after {
        left: 100%;
      }
    }

    &__list {
      box-sizing: border-box;
      list-style: none;
      display: flex;
      justify-content: space-between;
      max-width: 360px;
      padding: 0 $size__spacing-unit;
      margin: 0 auto;

      &__item {
        flex-basis: calc(20% - #{$size__spacing-unit});
        max-width: calc(20% - #{$size__spacing-unit});
        margin: ($size__spacing-unit / 2) 0 0;
        padding: 0;
        font-size: $font__size-xs;
        font-weight: 600;
        white-space: nowrap;
        color: $color__text-light;

        img {
          width: 100%;
          max-width: 40px;
          height: auto;
          vertical-align: bottom;
          margin: 0 auto ($size__spacing-unit / 4);
        }
      }
    }
  }

  &__info {
    margin: ($size__spacing-unit * 3) auto 0;
    color: $color__text-light;
    text-align: center;
    font-family: $font__heading;

    > a {
      color: inherit;

      &:hover {
        text-decoration: none;
        color: $color__link;
      }
    }
  }
}
