@use "../variables/variables" as variable;
@use "../mixins/mixins" as mixin;

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	-webkit-appearance: none;
	appearance: none;
}

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include mixin.button-transition;
	background: linear-gradient(to right, variable.$color__background-button 25%, variable.$color__background-button-hover);
	background-size: 200% 100%;
	background-position: 0 0;
	border-radius: 5px;
	box-sizing: border-box;
	color: variable.$color__text-button;
	font-weight: 600;
	font-size: 1.125em;
	line-height: 1;
	padding: (variable.$size__spacing-unit * 0.76) variable.$size__spacing-unit;
	text-decoration: none;
	vertical-align: bottom;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.1);
	text-shadow: 0 0 1px rgba(0, 0, 0, 1);

	&:hover {
		//background: variable.$color__background-button-hover;
		background-position: 50% 0;
		color: variable.$color__text-button;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(0, 0, 0, 0);
	}

	&:visited {
		color: variable.$color__text-button;
		text-decoration: none;
	}

	&:focus {
		//background: variable.$color__background-button-hover;
		background-position: 100% 0;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(0, 0, 0, 0);
		outline: thin dotted;
		outline-offset: -4px;
	}
}
