@use "../variables/variables" as variable;
@use "../mixins/mixins" as mixin;

ul,
ol {
	padding-left: (0.5 * variable.$size__spacing-unit);
}

ul {
	list-style: disc;

	ul {
		list-style-type: circle;
	}
}

ol {
	list-style: decimal;
}

li {
	line-height: variable.$font__line-height-body;
}

li > ul,
li > ol {
	padding-left: variable.$size__spacing-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 variable.$size__spacing-unit variable.$size__spacing-unit;
}
