@use "../variables/variables" as variable;
@use "../mixins/mixins" as mixin;

table {
	margin: 0 0 variable.$size__spacing-unit;
	border-collapse: collapse;
	width: 100%;
	font-family: variable.$font__heading;

	td,
	th {
		padding: 0.5em;
		border: 1px solid variable.$color__text-light;
		word-break: break-all;
	}
}
