h1,
h2 {
	font-family: $font__heading;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: $font__line-height-heading;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3,
h4,
h5,
h6 {
	font-family: $font__body;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: $font__line-height-heading;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: $font__size-xl;
}

h2 {
	font-size: $font__size-lg;
	font-weight: 600;
	color: #555;
}

h3 {
	font-size: $font__size-md;
	font-weight: 500;
	color: #666;
}

h4 {
	font-size: $font__size-md;
}

h5 {
	font-size: $font__size-sm;
}

h6 {
	font-size: $font__size-xs;
}

blockquote {
	hyphens: auto;
	word-break: break-word;
}
