@use "../../../styles/variables/variables" as variable;
@use "../../../styles/mixins/mixins" as mixin;

.product {
    margin: 0 0 (variable.$size__spacing-unit * 2);

    &__categories {
        display: flex;
        list-style: none;
        justify-content: center;
        width: fit-content;
        margin: (variable.$size__spacing-unit * 2) auto variable.$size__spacing-unit;
        padding: 0;

        &__category {
            margin: 0;
            padding: 0;

            a {
                position: relative;
                display: block;
                padding: (variable.$size__spacing-unit * 0.5) variable.$size__spacing-unit;
                font-family: variable.$font__heading;
                font-size: variable.$font__size-sm;
                font-weight: 600;
                color: variable.$color__text-light;
                box-shadow: none;
                transition: color 180ms ease;
                -webkit-tap-highlight-color:rgba(0,0,0,0);

                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: calc(50% - 3px);
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background: currentColor;
                    transition: box-shadow 120ms ease, background 120ms ease;
                }

                &:hover {
                    color: variable.$color__link;

                    &::after {
                        background: variable.$color__link;
                        box-shadow: 0 0 0 2px variable.$color__link, 0 0 0 5px variable.$color__link inset;
                    }
                }
            }

            &__current {
                a::after {
                    box-shadow: 0 0 0 2px #fff, 0 0 0 3px variable.$color__link;
                }
            }
        }
    }

    &__tag {
        margin: (variable.$size__spacing-unit * 2) auto (variable.$size__spacing-unit * -2);

        @include mixin.media(tablet) {
            margin: (variable.$size__spacing-unit * -1) auto (variable.$size__spacing-unit * -1);
        }

        &__title {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-family: variable.$font__body;
            font-size: 0.875rem;
            font-weight: 400;
            color: variable.$color__link-hover;

            &::before {
                display: inline-block;
                content: "#";
                margin-right: 0.2em;
            }
        }
    }

    &__entries {
        @include mixin.media(mobile) {
            margin-left: (0 - variable.$size__spacing-unit);
            margin-right: (0 - variable.$size__spacing-unit);
        }

        @include mixin.media(wide) {
            margin-left: (0 - variable.$size__spacing-unit * 1.5);
            margin-right: (0 - variable.$size__spacing-unit * 1.5);
        }

        &__entry {
            width: 100%;
            margin: (variable.$size__spacing-unit * 3) 0 0;

            @include mixin.media(mobile) {
                width: calc(50% - #{variable.$size__spacing-unit * 2});
                margin-left: variable.$size__spacing-unit;
                margin-right: variable.$size__spacing-unit;
            }

            @include mixin.media(desktop) {
                width: calc(33.33% - #{variable.$size__spacing-unit * 2});
            }

            @include mixin.media(wide) {
                width: calc(33.33% - #{variable.$size__spacing-unit * 3});
                margin-left: (variable.$size__spacing-unit * 1.5);
                margin-right: (variable.$size__spacing-unit * 1.5);
            }

            @include mixin.link-transition(transform);

            &:hover {
                transform: translateY(-5px);
                padding-bottom: 5px;
            }

            &__feature {
                background: #fff;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                transform: translate(0); // Safariでblurに対してoverflow:hiddenが効かない対策

                &:hover img {
                    filter: blur(8px);
                }

                &__link {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background: #fff;
                    background-clip: content-box;
                    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.75) inset, 0 0 0 6px rgba(0, 0, 0, 0.25) inset;
                    padding: 5px;
                    opacity: 0;
                    @include mixin.link-transition(opacity);

                    &:hover {
                        opacity: 0.5;
                    }

                    &__inner {
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        color: variable.$color__text-main;
                        font-size: variable.$font__size-sm;
                        padding: 1em 2em;
                        border: solid 1px currentColor;

                        svg {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 2rem;
                        }
                    }
                }

                @include mixin.clear-link();
                a {
                    position: relative;
                    display: block;
                    max-height: 500px;
                }
            }

            &__header {
                padding: (variable.$size__spacing-unit * 0.5);

                &__title {
                    margin: 0;
                    font-family: variable.$font__heading;
                    font-size: variable.$font__size-lg;
                }

                &__date {
                    margin: (variable.$size__spacing-unit * 0.125) 0 0;
                    font-family: variable.$font__code;
                    font-size: variable.$font__size-xs;
                    font-weight: 400;
                    color: variable.$color__text-light;
                }
            }

            &__tags {
                font-size: variable.$font__size-sm;

                &__tag {
                    display: inline-block;
                    margin: 0 0 0 (variable.$size__spacing-unit * 0.5);

                    a::before {
                        display: inline-block;
                        content: "#";
                        margin-right: 0.02em;
                    }
                }
            }
        }
    }

    &__more {
        margin: (variable.$size__spacing-unit * 2) auto 0;
        text-align: center;

        &__button {
            max-width: 240px;
            width: 100%;
            border-radius: 20px;

            @include mixin.media(tablet) {
                max-width: 360px;
            }
        }
    }
}
