.contact {
  margin: ($size__spacing-unit * 3) 0 0;
}

.contact-primary {
  position: relative;
  padding-bottom: 60%;
  z-index: 1;

  @include media(tablet) {
    padding-bottom: 56.25%;
  }
  @include media(desktop) {
    padding-bottom: 40%;
  }

  &__header {
    position: absolute;
    left: 0;
    bottom: 60%;
    width: 100%;
    text-align: center;

    &__title {
      color: #fff;
      font-size: 2.5rem;

      @include media(tablet) {
        font-size: 3rem;
      }
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;

    p {
      margin-bottom: $size__spacing-unit;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-radius: 10px;
  }
}

.contact-secondary {
  margin: $size__spacing-unit 0 0;

  &__content {
    box-sizing: border-box;
    padding-left: $size__spacing-unit;
    border-left: solid 1px currentColor;
    font-size: $font__size-sm;

    @include media(mobile) {
      margin-left: 20%;
    }

    @include media(desktop) {
      float: right;
      width: 50%;
    }

    > p:last-child {
      margin-bottom: $size__spacing-unit;
    }
  }
}
