/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
.product {

  margin: 0 0 ($size__spacing-unit * 2);

  &__categories {
    display: flex;
    list-style: none;
    justify-content: center;
    width: fit-content;
    margin: ($size__spacing-unit * 2) auto 0;
    padding: 0;

    &__category {
      margin: 0;
      padding: 0;

      a {
        position: relative;
        display: block;
        padding: ($size__spacing-unit / 2) $size__spacing-unit;
        font-family: $font__heading;
        font-size: $font__size-sm;
        font-weight: 600;
        color: $color__text-light;
        box-shadow: none;
        transition: color 180ms ease;

        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 100%;
          left: calc(50% - 3px);
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background: currentColor;
          transform: scale(1);
          transition: all 120ms ease;
        }

        &:hover,
        &:focus {
          color: $color__link;

          &::after {
            background: $color__link;
            transform: scale(1.75);
          }
        }

        &.current {
          &::after {
            box-shadow: 0 0 0 2px #fff, 0 0 0 3px $color__link;
          }
          &:hover,
          &:focus {
            &::after {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  &__tag {
    margin: ($size__spacing-unit * 3) auto ($size__spacing-unit * -1.5);
    text-align: center;

    &__title {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 -0.75em;
      font-family: $font__body;
      font-size: $font__size-md;
      font-weight: 400;
      color: $color__link;

      &::before {
        display: inline-block;
        content: "#";
        margin-right: 0.2em;
      }
    }
  }

  &__entries {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::after {
      display: block;
      content: "";
      margin: auto;
    }

    .entry {
      flex-basis: calc(50% - 2px);
      margin: ($size__spacing-unit * 2) 1px 0;

      @include media(mobile) {
        flex-basis: calc(33.33% - 2px);
        max-width: calc(33.33% - 2px);
        margin: ($size__spacing-unit * 2.5) 1px 0;
      }

      @include media(tablet) {
        flex-basis: calc(25% - 2px);
        max-width: calc(25% - 2px);
        margin: ($size__spacing-unit * 2.5) 1px 0;
      }

      &__feature {
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transform: translate(0); // Safariでblurに対してoverflow:hiddenが効かない対策

        &:hover img {
          filter: blur(5px);
        }

        &__link {
          box-sizing: border-box;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: rgba(255, 255, 255, 0.75);
          background-clip: content-box;
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25) inset;
          padding: 5px;
          opacity: 0;
          @include link-transition(opacity);

          &:hover {
            opacity: 1;
          }

          &__inner {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $color__text-main;
            font-size: $font__size-sm;
            padding: 1em 2em;
            border: solid 1px currentColor;

            svg {
              display: inline-block;
              vertical-align: middle;
              font-size: 2rem;
            }
          }
        }

        @include clear-link();
        a {
          position: relative;
          display: block;
          height: 150px;

          @include media(tablet) {
            height: 200px;
          }
          @include media(desktop) {
            height: 250px;
          }
        }
      }

      &__header {
        padding: $size__spacing-unit ($size__spacing-unit / 2) 0;

        &__title {
          margin: 0;
        }

        &__meta {
          margin: ($size__spacing-unit / 4) 0;
          font-size: $font__size-xs;
          color: $color__text-light;
        }
      }

      &__tags {
        font-size: $font__size-xs;

        &__tag {
          display: inline-block;
          margin: 0 0 0 ($size__spacing-unit / 2);

          a::before {
            display: inline-block;
            content: "#";
            margin-right: 0.02em;
          }
        }
      }
    }

    &__more {
      flex-basis: 100%;
      margin: ($size__spacing-unit * 3) 0 0;
      text-align: center;

      &__button {
        max-width: 240px;
        width: 100%;
        border-radius: 20px;

        @include media(tablet) {
          max-width: 360px;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
.product-post {
  margin: $size__spacing-unit 0 0;

  @include media(tablet) {
    margin: ($size__spacing-unit * 2) 0 0;
  }

  .entry {
    &__container {
      height: 100%;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(1px);

      @include media(tablet) {
        display: flex;
        justify-content: center;
      }

      &__primary {
        background: #fff;

        @include media(tablet) {
          flex-basis: 50%;
          max-width: 400px;
        }
      }
      &__secondary {
        border-top: solid 1px #f1f1f1;
        background: rgba(255, 255, 255, 0.5);

        @include media(tablet) {
          flex: 1;
          border: none;
          border-left: solid 1px #f1f1f1;
        }
      }

      @include media(desktop) {
        justify-content: flex-start;
      }
    }
  }

  .entry-primary {
    position: sticky;
    padding: ($size__spacing-unit * 2);

    &__header {
      &__title {
        margin: ($size__spacing-unit / 2) 0;

        //@include clear-link();
        &__link {
          position: relative;
          display: inline-block;

          svg {
            display: inline-block;
            position: absolute;
            top: ($size__spacing-unit / 1.25);
            right: 100%;
            color: inherit;
            opacity: 0;
            vertical-align: middle;
            font-size: 1.5rem;
            transform: rotate(60deg);
          }

          &:hover,
          &:focus {
            svg {
              opacity: 0.6;
            }
          }
        }
      }

      &__meta {
        margin: ($size__spacing-unit / 2) 0;
        font-size: $font__size-xs;
        color: $color__text-light;

        &__preview {
          display: block;

          a {
            display: inline-block;
            margin-left: 0.325em;
          }
        }
      }
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      margin: ($size__spacing-unit / 2) 0 ($size__spacing-unit * 2);

      &__return {
        margin: 0 1em 0 0;
        font-size: $font__size-sm;
      }
      &__category {
        margin: 0 1em 0 0;
        padding: 2px 0 0;
        font-size: $font__size-md;
        font-family: $font__heading;
      }
    }

    &__tags {
      font-size: $font__size-xs;

      &__tag {
        display: inline-block;
        margin: 0 ($size__spacing-unit / 2) 0 0;

        a::before {
          display: inline-block;
          content: "#";
          margin-right: 0.02em;
        }
      }
    }

    &__content {
      margin: ($size__spacing-unit * 2) 0 $size__spacing-unit;

      @include media(tablet) {
        font-size: $font__size-sm;
      }
    }

    &__navi {
      margin: ($size__spacing-unit * 2) 0;

      &__ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        &__li {
          margin: 0;
          padding: 0;
        }
      }
    }

    &__attachments {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: ($size__spacing-unit * 2) 0 0;
      padding: 0;

      @include media(tablet) {
        margin: ($size__spacing-unit * 2) 0 $size__spacing-unit;
      }

      &__attachment {
        flex-basis: calc(33.33% - #{$size__spacing-unit / 4});
        height: 100px;
        margin: 0 #{$size__spacing-unit / 4} #{$size__spacing-unit / 4} 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        @include media(tablet) {
          height: 80px;
        }

        &:hover img {
          filter: blur(2px);
        }

        &__link {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;

          &::after {
            box-sizing: border-box;
            position: absolute;
            display: block;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            background: rgba(255, 255, 255, 0.25);
            background-clip: content-box;
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.75);
            padding: 3px;
            opacity: 0;
            @include link-transition(opacity);
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .entry-secondary {
    padding: ($size__spacing-unit * 2);

    @include media(tablet) {
      height: 100%;
    }

    &__feature {
      box-sizing: border-box;
      position: relative;
      max-height: 700px;
      padding: ($size__spacing-unit / 1.5);
      overflow: hidden;
      border: solid 1px #f1f1f1;
      background: #fff;

      @include media(tablet) {
        max-height: 100%;
      }

      img {
        border: solid 1px #f1f1f1;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%);

        @include media(tablet) {
          display: none;
        }
      }
    }
  }
}
