/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-header {

  &__container {
    position: relative;

    &--primary {
      margin: $size__spacing-unit 0 0;
      text-align: center;
    }
    &--secondary {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.site-branding {
  text-align: center;

  &__title {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 2rem;
  }
}
