@use "../../styles/variables/variables" as variable;
@use "../../styles/mixins/mixins" as mixin;

.sidebar {
  @include mixin.clearfix("before");
  @include mixin.clearfix("after");
  max-width: 100%;
  margin: 0 variable.$size__spacing-unit;
}

.container {
  position: relative;

  &__primary {
    margin: variable.$size__spacing-unit 0 0;
    text-align: center;
  }
  &__secondary {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.branding {
  text-align: center;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: variable.$font__heading;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: variable.$font__line-height-heading;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //@include mixin.clear-link();
    @include mixin.user-select(none);
  }

  // brandingSidebar
  &--sidebar a {
    color: #fff;
    box-shadow: none;
  }

  // brandingContent
  &--content a {
    color: variable.$color__text-main;
    box-shadow: none;
  }
}
