@import "../../styles/variables-site/variables-site";
@import "../../styles/mixins/mixins-master";

.sidebar {
  @include clearfix("before");
  @include clearfix("after");
  max-width: 100%;
  margin: 0 $size__spacing-unit;
}

.container {
  position: relative;

  &__primary {
    margin: $size__spacing-unit 0 0;
    text-align: center;
  }
  &__secondary {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.branding {
  text-align: center;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: $font__heading;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: $font__line-height-heading;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //@include clear-link();
    @include user-select(none);
  }

  // brandingSidebar
  &--sidebar a {
    color: #fff;
    box-shadow: none;
  }

  // brandingContent
  &--content a {
    color: $color__text-main;
    box-shadow: none;
  }
}
