@use "@/styles/variables/variables" as variable;
@use "@/styles/mixins/mixins" as mixin;

.button {
  display: inline-block;
  padding: 0 (variable.$size__spacing-unit * 0.5);
  margin-left: (variable.$size__spacing-unit * -0.75);
  border-right: solid 1px currentColor;
  color: inherit;
  border-radius: 0;
  background: none;

  @include mixin.media(wide) {
    margin-left: (variable.$size__spacing-unit * -0.5);
  }

  &:hover,
  &:focus {
    background: none;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
  }
}
