@import "../../styles/variables-site/variables-site";
@import "../../styles/mixins/mixins-master";

.container {
    margin: $size__spacing-unit 0 0;

    &__header {
        &__title {
            margin-bottom: 0;
            font-size: $font__size-md;
            text-align: center;
            color: #555;
        }
    }
}

.layout {
    @include media(desktop) {
        display: flex;
        justify-content: space-between;

        &__primary {
            order: 2;
            flex-basis: calc(50% - #{$size__spacing-unit * 1.5});
            max-width: calc(50% - #{$size__spacing-unit * 1.5});
        }

        &__secondary {
            order: 1;
            flex-basis: calc(50% - #{$size__spacing-unit * 1.5});
            max-width: calc(50% - #{$size__spacing-unit * 1.5});
        }
    }
}

.primary {
    margin: ($size__spacing-unit * 2) auto 0;

    @include media(desktop) {
        width: calc(100% - #{$size__spacing-unit * 3});
    }
}

.secondary {
    height: calc(var(--maxvh, 100vh) - #{$size__spacing-unit * 4});
    margin: ($size__spacing-unit * 5) auto;
    border-radius: 5px;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @include media(desktop) {
        position: sticky;
        top: ($size__spacing-unit * 2);
        left: 0;
        width: 100%;
        margin: ($size__spacing-unit * 2) 0;
    }
}

.section {
    margin: 3rem auto;
    opacity: 0;
    transition: transform 300ms ease-out, opacity 300ms ease-out;

    &:last-child {
        margin-bottom: 0;
    }

    &__1 {
    }
    &__2 {
    }
    &__3 {
    }

    &__active {
        opacity: 1;
    }
}

.md-editor {
    h2 {
        font-family: $font__body;
        color: transparent;
        background: linear-gradient(45deg, #3e6bfc, #9f51fb);
        background-clip: text;

        &:first-child {
            margin-top: 0;
        }
    }
}
