@use "@/styles/variables/variables" as variable;
@use "@/styles/mixins/mixins" as mixin;

// Home
.sidebar {
  padding: (variable.$size__spacing-unit * 3) 0;
}

// Other page
.content {
  padding: (variable.$size__spacing-unit * 3) 0;
}

.powered {
  margin: 0 auto;
  text-align: center;

  &__title {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: variable.$font__size-md;
    margin: 0 0 (variable.$size__spacing-unit * 2);

    &::before,
    &::after {
      display: inline-block;
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      margin: 0 0.5em;
      top: 50%;
      background: currentColor;
    }
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }
  }

  &__list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    padding: 0 variable.$size__spacing-unit;
    margin: 0 auto;

    &__item {
      flex-basis: calc(20% - #{variable.$size__spacing-unit});
      max-width: calc(20% - #{variable.$size__spacing-unit});
      margin: (variable.$size__spacing-unit * 0.5) 0 0;
      padding: 0;
      font-family: variable.$font__code;
      font-size: variable.$font__size-xs;
      font-weight: 400;
      white-space: nowrap;
      color: variable.$color__text-light;

      img {
        width: auto;
        max-width: 40px;
        height: 40px;
        vertical-align: bottom;
        margin: 0 auto (variable.$size__spacing-unit * 0.25);
      }
    }
  }
}

.info {
  margin: (variable.$size__spacing-unit * 3) auto 0;
  color: variable.$color__text-light;
  text-align: center;
  font-family: variable.$font__heading;

  > a {
    color: inherit;

    &:hover {
      color: lighten(variable.$color__text-light, 30%);
      box-shadow: none;
    }
  }
}
