/* React CSSTransition */

@mixin animationValue($name, $duration, $function, $delay, $count, $state) {
	-webkit-animation: $name $duration + ms $function $delay + ms $count $state;
	animation: $name $duration + ms $function $delay + ms $count $state;
}

.fade {
	&-enter {
		.entry {
			opacity: 0;
		}

		&-done {
			.entry {
				opacity: 0;
				@for $count from 1 through 20 {
					&:nth-child(#{$count}) {
						@include animationValue(OrderFadein, 300, ease, $count * 180, 1, forwards);
					}
				}
			}
		}
	}

	&-exit {
		.entry {
			opacity: 0;
		}
	}
}

@keyframes OrderFadein {
	100% {
		opacity: 1;
	}
}
