@use "../variables/variables" as variable;

@mixin media( $res ) {
	@if mobile == $res {
		@media only screen and (min-width: variable.$mobile_width) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: variable.$tablet_width) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: variable.$desktop_width) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: variable.$wide_width) {
			@content;
		}
	}
}

@mixin link-transition( $attr: color ) {
	transition: $attr variable.$link_transition ease-in-out;
}

@mixin button-transition() {
	transition: background variable.$button_transition ease-in-out;
}

@mixin button-all-transition() {
	transition: all variable.$button_transition ease-in-out;
}

@mixin background-transition() {
	transition: background variable.$background_transition ease-in-out;
}

@mixin selection {
	::-moz-selection {
		@content;
	}
	::selection {
		@content;
	}
}

@mixin user-select($event: none) {
	-moz-user-select: #{$event}; /* Firefox */
	-ms-user-select: #{$event}; /* Internet Explorer */
	-webkit-user-select: #{$event}; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: #{$event}; /* Disable Android and iOS callouts*/
}
